#background {
  position: absolute;
  background-color: hsl(0, 0%, 0%);
  opacity: 0;
  z-index: -999;
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
}

#background.show {
  opacity: 0.5;
  z-index: 1999;
}

#modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: -999;
  background-color: white;
  opacity: 0;
  box-shadow: 10px 15px 15px rgb(73, 73, 73);
}

#modal-container.wide {
  width: 1300px;
  height: 820px;
  top: 38px;
}

#modal-container.big {
  width: 1000px;
  height: 820px;
  top: 38px;
}

#modal-container.small {
  width: 500px;
  height: 500px;
  top: 200px;
  display: flex;
  justify-content: center;
}

#modal-container.show {
  opacity: 1;
  z-index: 2000;
}

#submit-buttons {
  position: absolute;
  bottom: 30px;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cancel {
  background-color: rgb(237, 237, 237);
}

.submit-button {
  background-color: blue;
  color: white;
  opacity: 0.5;
}

#submit-buttons button {
  font-size: 18px;
  width: 130px;
  height: 50px;
  border-width: 0.5px;
  cursor: pointer;
}

.submitable {
  opacity: 1;
}
