#category-container {
  width: 100%;
  padding-right: 20px;
  overflow-y: scroll;
}

.scroll-container {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
}

.product {
  flex: 0 0 auto;
  width: 175px;
  height: 70px;
  margin-right: 10px;
  border-style: none;
  border-width: 0.5px;
  scroll-snap-align: start;
  text-align: center;
  cursor: pointer;
  line-height: 35px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

.product span {
  line-height: 35px;
}

.category-text {
  margin-bottom: 5px;
  font-size: 15px;
}

#total-product-container {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
}

#total-product-container .product {
  margin-bottom: 10px;
}
