#product-registration-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
  margin-top: 50px;
  height: 650px;
  overflow: auto;
}

#plus-product-input-button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border-style: none;
  font-size: 20px;
}

#product-registration-header {
  position: sticky;
  top: 0px;
  z-index: 200;
  width: 1000px;
  display: flex;
  justify-content: center;
  background-color: white;
}

#product-registration-header span {
  text-align: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-right: 30px;
}

.product-registration-row {
  width: 1000px;
  display: flex;
  justify-content: center;
}

.product-registration-row * {
  text-align: center;
  width: 100px;
  margin-right: 30px;
  height: 25px;
}

.product-registration-row div {
  margin-top: 10px;
  margin-bottom: 10px;
}

#product-management-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
  margin-top: 50px;
  height: 650px;
  overflow: auto;
}

.product-management-row {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 800px;
  justify-content: center;
}

.product-management-row span {
  width: 100px;
  max-width: 100px;
}

.product-management-row input {
  max-width: 90px;
}

#product-management-buttons {
  position: sticky;
  top: 0px;
  z-index: 200;
  background-color: white;
  width: 800px;
  display: flex;
  justify-content: end;
}

#product-list-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: 22px;
  z-index: 200;
  width: 800px;
  background-color: white;
}

#product-list-header span {
  width: 100px;
  max-width: 100px;
  text-align: center;
}

#category-modal {
  top: 240px;
  left: auto;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  z-index: -500;
  opacity: 0;
  box-shadow: 5px 10px 10px rgb(73, 73, 73);
  display: flex;
  align-items: center;
  justify-content: center;
}

#category-modal.show {
  z-index: 10000;
  opacity: 1;
}

#category-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 300px;
}

#category-select {
  position: absolute;
  top: 120px;
  height: 30px;
  width: 150px;
}

#selected-category-submit-buttons {
  position: absolute;
  bottom: 30px;
}

#category-submit-buttons button {
  width: 75px;
  height: 30px;
}

#category-modal-background {
  background-color: black;
  z-index: -100000;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0px;
}

#category-modal-background.show {
  z-index: 9999;
  opacity: 0.5;
}
