#sales-history-container {
  overflow: scroll;
  width: 75vw;
  margin-bottom: 50px;
}

#sales-history-header {
  display: flex;
  width: 75vw;
  height: 50px;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

#sales-history-title {
  margin: 0;
}

#date-select-section {
  display: flex;
  width: 75vw;
  justify-content: end;
  margin-top: 20px;
}

#close-button {
  height: 30px;
  width: 30px;
  background-color: white;
  font-size: 20px;
}

#close-button:hover {
  filter: brightness(1);
}

#sales-history-table {
  border-spacing: 0px;
  border-collapse: collapse;
}

#sales-history-table td,
#sales-history-table th {
  min-width: 100px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  margin: 0px;
  border-width: 0.5px;
  border-color: rgb(200, 200, 200);
}

#date-select-section {
  margin-bottom: 20px;
}

#sales-history-table tr td:nth-of-type(1) {
  width: 60px;
}

#sales-history-table tr td:nth-child(4) {
  min-width: 200px;
}

#sales-history-table tfoot tr td:nth-child(4) {
  min-width: 100px;
}

#sales-history-table tr :nth-child(7),
#sales-history-table tr :nth-child(8) {
  min-width: 50px;
  width: 50px;
}

#sales-history-table td input {
  width: 190px;
  height: 15px;
  text-align: center;
}

#sales-history-table thead {
  position: sticky;
  top: 0px;
}

#sales-history-table thead th {
  background-color: rgb(240, 240, 240);
}

#date-select {
  width: 90px;
  height: 25px;
  text-align: center;
}
