#shopping-cart-box {
  height: 65%;
  border-style: solid;
  border-width: 0.5px;
  overflow-y: scroll;
}

.cart-row {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-product {
  width: 70%;
  height: 100%;
  box-shadow: 0 0 0 0.5px #000 inset;
  text-align: center;
}

.cart-product {
  line-height: 35px;
}

.quantity-box {
  width: 30%;
  height: 100%;
  box-shadow: 0 0 0 0.5px #000 inset;
  text-align: center;
  line-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: visible;
}

.plus,
.minus {
  font-size: 20px;
  width: 50%;
  cursor: pointer;
}

.delete {
  position: absolute;
  background-color: white;
  right: 310%;
  top: 5%;
  cursor: pointer;
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}

.discounted {
  color: blue;
}
